# ~/.config/systemd/user/wallchanger.timer
[Unit]
Description=Start wallchanger.service hourly

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
